* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* || General Styles ------------------- */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: none;
}

h2 {
  font-size: 20px;
  font-weight: bolder;
  font-size: 1.75rem;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: hotpink;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
}
.top {
  font-size: 15px;
}
/* || Header and Main Nav ------------------- */

ul {
  padding: 0;
}

.top-navigation a {
  text-transform: uppercase;
  font-weight: bold;
}

.top-navigation li {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: none;
  padding: 0.2em 0;
  width: 100%;
  margin: 5px auto;
  font-size: 1em;
}
.top-navigation a:hover {
  color: hotpink;
}

#name {
  border: none;
  padding: 6px 0;
  margin-bottom: 7%;
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

header img {
  display: block;
  width: 70%;
  margin: auto;
  padding: 8% 0;
}

header p {
  padding-bottom: 3rem;
}

header {
  margin: 0 20px;
}

/* Main ------------------- */

#portfolio {
  padding-bottom: 1rem;
  font-weight: bold;
}

.profile {
  text-align: center;
  padding-top: 1em;
  font-weight: 900;
}
img {
  max-width: 100%;
}

.port-card, contact {
  text-align: center;
  margin: 20px;
}
.contact {
  font-weight: bold;
  margin-left: 10px;
}

/* Footer ------------------- */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
hr {
  width: 95%;
}

ul {
  list-style: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 20px;
  height: 100px;
  background-color: none;
}
.full {
  display: none;
}
/* Media Queries ----------------------------*/

@media (min-width: 768px) {
  .top {
    display: none;
  }
  .full {
    display: inline-block;
    margin-left: 20px;
  }
}


  .top-navigation {
    height: 10vh;
    margin-bottom: 10%;
    width: 50%;
    align-items: center;
    margin: auto;
  }

  #main-header img {
    display: inline;
    padding: 0 20px;
    float: right;
    order: 2;
    align-self: flex-start;
  }

  #main-header p {
    float: left;
    order: 1;
    text-align: left;
  }

  .top-navigation a:hover {
    color: grey;
  }

  .top-navigation {
    margin-top: 3em;
    flex-direction: row;
  }

  .top-navigation li {
    background-color: transparent;
  }

  #name {
    margin-bottom: 2.5rem;
  }

  /* Body */
  footer li:nth-child(5n),
  footer li:nth-child(4n),
  footer li:nth-child(3n),
  footer li:nth-child(2n) {
    display: inline-block;
    text-transform: uppercase;
    float: right;
  }

  footer {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  #name {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    margin-left: 5%;
    margin-top: 15px;
    font-size: 1.5em;
  }

  .top-navigation {
    margin-top: 2rem;
    float: right;
    width: 40%;
  }
  header p {
    line-height: 1.8rem;
    margin-left: 2.5%;
    margin-top: 0;
    margin-right: 1.6rem;
  }

}
