* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* || General Styles ------------------- */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: none;
}
ul {
  list-style: none;
}

p {
  text-align: center;
  color: black;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
.top {
  font-size: 15px;
}
h2 {
   color: black;
}
/* || Header and Main Nav ------------------- */

ul {
  padding: 10px;
}

.top-navigation a {
  text-transform: uppercase;
  font-weight: bold;
  background-color: none;
}

.top-navigation li {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: pink;
  padding: 0.2em 0;
  width: 100%;
  margin: 20px auto;
  font-size: 1em;
}

#name {
  border: none;
  padding: 6px 0;
  margin-bottom: 7%;
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

header img {
  display: block;
  width: 70%;
  margin: auto;
  padding: 8% 0;
}

header p {
  padding-bottom: 3rem;
}

header {
  margin: 0 20px;
}

/* Main ------------------- */

.col {
  margin: 10px;
  min-height: 250px;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 5px;
}
.box-1 {
  background-color: none;
}

.box-2 {
  background-color: none;
}

.box-3 {
  background-color: none;
}

.box-4 {
  background-color: none;
}

.box-5 {
  background-color: none;
}

.box-6 {
  background-color: none;
}
img {
  max-width: 100%;
}

.container {
  text-align: center;
  margin: 20px;
}
.contact {
  font-size: 18px;
  margin-left: 10px;

  padding: 20px;
}

/* Footer ------------------- */
hr {
  width: 95%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: right;
  align-items: center;
  margin-top: auto;
  padding: 0 20px;
  height: 100px;
}
.full {
  display: none;
}

.top-navigation li {
  background-color: transparent;
}
/* Media Queries ----------------------------*/

@media (min-width: 768px) {
  .top {
      display: none;
    }
    .full {
      display: inline-block;
      margin-left: 20px;
    }

  .container {
    display: flex;
    flex-wrap: wrap;
  }
}
.container {
    display: flex;
    flex-wrap: wrap;
  }
  .col {
    flex-basis: calc(50% - 20px);
  }
}



@media (min-width: 1024px) {
  .col {
    flex-basis: calc(33.333% - 20px);
  }
}
